body {
  background: linear-gradient(45deg, #653131b8, #35070747);
}

.Toastify__toast {
  background: #32354b !important;
  border-radius: 10px !important;
  text-align: center;
  color: white !important;
}

.Toastify__close-button {
  color: white !important;
}
